@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #112540;
  font-family: "Montserrat";
}

header {
  height: 80px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #102037;
  border-bottom: 2px solid #163154;
}

header .logo {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 400px;
}

header .logo img {
  height: 50px;
  width: 50px;
}

header .logo h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #9492a8;
  font-size: 1rem;
}

.input-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.input-section #one {
  position: absolute;
  top: 20px;
  font-size: 1rem;
  color: #ffffff;
}

.input-section #two {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  color: #9492a8;
}

.input-section .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section .input-box .input-number {
  height: 50px;
  width: 120px;
  padding: 10px;
  margin-right: 10px;
  background-color: #163154;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: 0;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.input-section .input-box .input-number:hover,
.input-section .input-box .input-number:focus {
  border: 2px solid #19b396;
}

.input-section .input-box .input-button {
  height: 50px;
  width: 120px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #19b396;
  -webkit-box-shadow: 0px 8px 0px 0px #09121f;
          box-shadow: 0px 8px 0px 0px #09121f;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-section .input-box .input-button:active {
  margin-top: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.output-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px 0 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.output-section .product-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 300px;
  margin: 20px;
}

.output-section .product-box .product-name {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 200px;
  background-color: #0c192b;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}

.output-section .product-box .product-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100px;
  background-color: #102037;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 40px;
  color: #19b396;
}

@media (max-width: 575.98px) {
  header .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
  header .logo img {
    display: none;
  }
  header .logo h1 {
    font-size: 1rem;
  }
  .input-section #one {
    font-size: 0.8rem;
  }
  .output-section {
    padding: 0px;
  }
  .output-section .product-box {
    height: 100px;
    width: 100vw;
    margin: 10px 0 10px 0;
  }
  .output-section .product-box .product-name {
    width: calc(100vw - 100px);
  }
}
/*# sourceMappingURL=style.css.map */